view {
    background-color: #fafafa;
}

button {
    border: 1pt solid #bababa;
    /*
    background-color: #dedede;
    */

    background-color: linear-gradient(#ded,#bab);
    font: bold 11pt Helvetica, Arial, sans-serif;
    color: #454545;
    border-radius: 4pt;
    text-shadow: 1pt 1pt 5pt #333;
}

.button-red {
    color: #fff;
    background-color: linear-gradient(#f22b30, #dd2a2f);
}

.button-blue {
    color: #fff;
    background-color: linear-gradient(#096ec3, #095ea5);
}

label {
    font: 11pt Helvetica, Arial, sans-serif;
}

.label-background{
    background-color: #fff;
    border: 1pt solid #bababa;
    border-radius: 4pt;
}